@model IEnumerable<CarCRM.Models.Cargo>

@{
    ViewData["Title"] = "Index";
}

<h1>Cargos</h1>

<p>
    <a asp-action="Create" class="btn btn-primary"> Novo <i class="bi bi-plus-lg"></i></a>
</p>
<table id="cargoListaId" class="table table-striped">
    <thead>
        <tr>
            <th>Nome</th>
            <th>Ações</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(model => item.Nome)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id" title="Editar">
                    <i class="bi bi-pencil-square"></i></a>
                <a asp-action="Details" asp-route-id="@item.Id" title="Detalhes">
                    <i class="bi bi-eye"></i></a>
                <a asp-action="Delete" asp-route-id="@item.Id" title="Excluir">
                    <i class="bi bi-trash"></i></a>
            </td>
        </tr>
}
    </tbody>
</table>

@section Scripts {
    <script src="~/lib/datatables/datatables.min.js"></script>
    <script>
        $(document).ready(function () {

        var table = new DataTable('#cargoListaId', {
        language: {
        url: 'https://cdn.datatables.net/plug-ins/1.11.3/i18n/pt_br.json',
        },
        layout: {
        topStart: 'info',
        bottom: 'paging',
        bottomStart: null,
        bottomEnd: null
        },
        });
        });

    </script>
}
