@model CarCRM.Models.Comissao

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Comissao</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Percentual" class="control-label"></label>
                <input asp-for="Percentual" class="form-control" />
                <span asp-validation-for="Percentual" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FuncionarioId" class="control-label"></label>
                <input asp-for="FuncionarioId" class="form-control" />
                <span asp-validation-for="FuncionarioId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Funcionario" class="control-label"></label>
                <input asp-for="Funcionario" class="form-control" />
                <span asp-validation-for="Funcionario" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="VendaId" class="control-label"></label>
                <input asp-for="VendaId" class="form-control" />
                <span asp-validation-for="VendaId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Venda" class="control-label"></label>
                <input asp-for="Venda" class="form-control" />
                <span asp-validation-for="Venda" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StatusComissaoId" class="control-label"></label>
                <input asp-for="StatusComissaoId" class="form-control" />
                <span asp-validation-for="StatusComissaoId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StatusComissao" class="control-label"></label>
                <input asp-for="StatusComissao" class="form-control" />
                <span asp-validation-for="StatusComissao" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PagamentoId" class="control-label"></label>
                <input asp-for="PagamentoId" class="form-control" />
                <span asp-validation-for="PagamentoId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Pagamento" class="control-label"></label>
                <input asp-for="Pagamento" class="form-control" />
                <span asp-validation-for="Pagamento" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CriadoEm" class="control-label"></label>
                <input asp-for="CriadoEm" class="form-control" />
                <span asp-validation-for="CriadoEm" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Excluido" class="control-label"></label>
                <input asp-for="Excluido" class="form-check-input" />
                <span asp-validation-for="Excluido" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
