@model CarCRM.Models.Estoque

@{
    ViewData["Title"] = "Create";
}

<h1>Criar</h1>

<h4>Estoque</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div class="form-group">
                <label class="control-label">Nome</label>
                <input name="nome" class="form-control" />
            </div>

            <div class="form-group">
                <label  class="control-label">Data da Entrada</label>
                <input  name="dataEntrada" type="date" class="form-control" />
            </div>

            <div class="form-group">
                <label class="control-label">Excluido</label>
                <input name="excluido" type="checkbox" value="false" class="form-check-input" />
            </div>
            <div class="form-group">
                <input type="submit" value="Criar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Voltar</a>
</div>
