@model CarCRM.Models.Estoque

@{
    ViewData["Title"] = "Edit";
}

<h1>Editar</h1>

<h4>Estoque</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <input type="hidden" name="id" value="@Model.Id" />

            <div class="form-group">
                <label class="control-label">Nome</label>
                <input name="nome" value="@Model.Nome" class="form-control" />
            </div>

            <div class="form-group">
                <label class="control-label">Data de Entrada</label>
                <input name="dataEntrada" value="@Model.DataEntrada.ToString("dd/MM/yyyy")" class="form-control" />
            </div>

            <div class="form-group">
                <label class="control-label">Excluido</label>
                <input name="excluido" type="checkbox" value="true" class="form-check-input" @(Model.Excluido ? "checked" : "") />
            </div>
            <div class="form-group">
                <input type="submit" value="Salvar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Voltar</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
