@model CarCRM.Models.Veiculo

@{
    ViewData["Title"] = "Create";
}

<h1>Criar</h1>

<h4>Veiculo</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div class="form-group">
                <label class="control-label">Cor</label>
                @Html.DropDownList("veiculoCorId",
                        new SelectList(ViewBag.veiculosCor, "Id", "Nome"),
                        new { @class = "form-control" })
            </div>
            <div class="form-group">
                <label class="control-label">Km</label>
                <input name="kilometragemAtual" class="form-control" />

            </div>
            <div class="form-group">
                <label class="control-label">Placa</label>
                <input name="placa" class="form-control" />

            </div>
            <div class="form-group">
                <label class="control-label">Combustível</label>
                <input name="combustivel" class="form-control" />

            </div>
            <div class="form-group">
                <label class="control-label">Motorizacao</label>
                <input name="motorizacao" class="form-control" />

            </div>
            <div class="form-group">
                <label class="control-label">Ano Fabricação</label>
                <input name="anoFabricacao" type="number" min="1900" max="2100" class="form-control" />

            </div>
            <div class="form-group">
                <label class="control-label">Ano Modelo</label>
                <input name="anoModelo" type="number" min="1900" max="2100" class="form-control" />

            </div>
            <div class="form-group">
                <label class="control-label">Tipo</label>
                @Html.DropDownList("veiculoTipoId",
                        new SelectList(ViewBag.VeiculosTipo, "Id", "Nome"),
                        new { @class = "form-control" })
                @* <select asp-for="VeiculoTipoId" class ="form-control" asp-items="ViewBag.VeiculoTipoId"></select> *@
            </div>
            <div class="form-group">
                <label class="control-label">Marca</label>
                @Html.DropDownList("veiculoMarcaId",
                        new SelectList(ViewBag.VeiculosMarca, "Id", "Nome"),
                        new { @class = "form-control" })
                @* <select asp-for="VeiculoMarcaId" class ="form-control" asp-items="ViewBag.VeiculoMarcaId"></select> *@
            </div>
            @* <div class="form-group">
                <label asp-for="CriadoEm" class="control-label"></label>
                <input asp-for="CriadoEm" class="form-control" />
                <span asp-validation-for="CriadoEm" class="text-danger"></span>
            </div> *@
            <div class="form-group form-check">
                <label class="control-label">Excluido</label>
                <input name="excluido" type="checkbox" value="false" class="form-check-input" />
            </div>
            <div class="form-group">
                <input type="submit" value="Criar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Voltar</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
